@charset "utf-8";

/* ==========================================================================
 * font-face
 * ========================================================================== */
/*
@font-face {
    font-family: NanumGothic;
    font-style: normal;
    font-weight: 400;
    src: url('../font/NanumGothic.eot);
    src: local('NanumGothic'), local('나눔고딕'),
    url('../font/NanumGothic.eot?#iefix') format('embedded-opentype'),
    url('../font/NanumGothic.woff') format('woff');
}
@font-face {
    font-family: NanumGothic;
    font-style: normal;
    font-weight: 700;
    src: url('../font/NanumGothicBold.eot');
    src: local('NanumGothicBold'), local('나눔고딕볼드'),
    url('../font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
    url('../font/NanumGothicBold.woff') format('woff');
}
*/



/* ==========================================================================
 * base
 * ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #fff;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Malgun Gothic', '맑은 고딕', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.15;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

i,
em {
    font-style: normal;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}
    a:visited {}
    a:hover {}
    a:active {}

img {
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

figure {
}

audio,
canvas,
iframe,
video {
    vertical-align: middle;
}

legend,
caption {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

button,
input,
optgroup,
select,
textarea {
    overflow: visible;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type="radio"],
[type="checkbox"] {
    padding: 0;
    box-sizing: border-box;
}

[type="text"],
[type="password"],
[type="tel"],
[type="email"] {
    
}

[type="search"] {
}
    [type="search"]::-webkit-search-cancel-button,
    [type="search"]::-webkit-search-decoration {
        -webkit-appearance: auto;
    }

[type="number"] {

}
    [type="number"]::-webkit-inner-spin-button,
    [type="number"]::-webkit-outer-spin-button {
        height: auto;
    }

[type="date"],
[type="time"],
[type="datetime-local"],
[type="month"],
[type="week"] {

}
    [type="date"]::-webkit-inner-spin-button,
    [type="time"]::-webkit-inner-spin-button,
    [type="datetime-local"]::-webkit-inner-spin-button,
    [type="month"]::-webkit-inner-spin-button,
    [type="week"]::-webkit-inner-spin-button {
        display: none;
    }
    [type="date"]::-webkit-clear-button,
    [type="time"]::-webkit-clear-button,
    [type="datetime-local"]::-webkit-clear-button,
    [type="month"]::-webkit-clear-button,
    [type="week"]::-webkit-clear-button {
        display: none;
    }
    [type="date"]::-webkit-calendar-picker-indicator,
    [type="time"]::-webkit-calendar-picker-indicator,
    [type="datetime-local"]::-webkit-calendar-picker-indicator,
    [type="month"]::-webkit-calendar-picker-indicator,
    [type="week"]::-webkit-calendar-picker-indicator {
        display: none;
    }

textarea {
    overflow: auto;
    resize: vertical;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}




/* ==========================================================================
 * helper
 * ========================================================================== */
.visualhidden {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
}
.visualhidden.focusable:active,
.visualhidden.focusable:focus {
    overflow: visible;;
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    white-space: inherit;
    clip: auto;
}

.texthidden {
    overflow: hidden;
    text-indent: -999999px;
    text-align: left;
    white-space: nowrap;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
.clear {
    clear: both;
}

/**
 * Typo & Color
 */
.fs-small       { font-size: 12px !important; }
.fs-medium      { font-size: 14px !important; }
.fs-large       { font-size: 16px !important; }

.fw-thin        { font-weight: 100 !important; }
.fw-extralight  { font-weight: 200 !important; }
.fw-light       { font-weight: 300 !important; }
.fw-normal      { font-weight: 400 !important; }
.fw-medium      { font-weight: 500 !important; }
.fw-semibold    { font-weight: 600 !important; }
.fw-bold        { font-weight: 700 !important; }
.fw-extrabold   { font-weight: 800 !important; }
.fw-black       { font-weight: 900 !important; }

.ta-left        { text-align: left !important; }
.ta-right       { text-align: right !important; }
.ta-center      { text-align: center !important; }
.ta-justify     { text-align: justify !important; }
.nowrap         { white-space: nowrap !important; }
.underline      { text-decoration: underline !important; }

.color-dark     { color: #666 !important; }
.color-green    { color: #70953f !important; }
.color-gray     { color: #999 !important; }
.color-orange   { color: #ff5a00 !important; }
.color-red      { color: #e93e44 !important; }

/**
 * floats
 */
.pull-left  { float: left !important; }
.pull-right { float: right !important; }

/**
 * margin
 */
.m00 { margin: 0 !important; }
.mx0 { margin-left: 0 !important; margin-right: 0 !important; }
.my0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.ml0 { margin-left: 0 !important; }
.mr0 { margin-right: 0 !important; }
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/**
 * padding
 */
.p00 { padding: 0 !important; }
.px0 { padding-left: 0 !important; padding-right: 0 !important; }
.py0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.pl0 { padding-left: 0 !important; }
.pr0 { padding-right: 0 !important; }
.pt0 { padding-top: 0 !important; }
.pb0 { padding-bottom: 0 !important; }




/* ==========================================================================
 * print style
 * ========================================================================== */
@media print {}




/* ==========================================================================
 * media query for responsive design
 * ========================================================================== */
/**
 * tablets and desktop
 */
@media only screen and (min-width: 768px) {}

/**
 * phones
 */
@media only screen and (max-width: 767px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 320px) {}